.Burger {
  width: 100%;
  margin: auto;
  height: 400px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 500px) {
  .Burger {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 1366px) {
  .Burger {
    width: 540px;
    height: 400px;
  }
}
